// variables 
$pink:#F9D1D9;
$rosa_op:#f9d2da66;
$pink_op2:#fcd0d9ab;
$brown:#5E3E22;
$white:#f8f9fa;
$negro: #1f1f1f;




h3{
    font-size: 1.5rem;
}

.grid{
    width: 80%;
    margin: auto;
    display:grid ;
    grid-template-areas:
        "grid_imagen1 grid_imagen1 grid_descripcion1 grid_descripcion1"
        "grid_imagen2 grid_imagen2 grid_descripcion2 grid_descripcion2"
        "grid_imagen3 grid_imagen3 grid_descripcion3 grid_descripcion3"
        "footer footer footer footer" ;
    grid-template-rows:repeat(3,1fr) ;
    grid-template-columns: 10% 10% 40% 40%;
    grid-row-gap: 50px; 
    grid-column-gap: 30px;
    padding: 50px;
}
.grid_img{
    border-radius: 10%;
    width:100%;
    transition: all 1s ease-in-out;
}
.grid_img:hover{
    transform:scale3d(1,-1,1);
}
.grid_imagen1{
    transition:heighr 4s;
    grid-area:grid_imagen1;
}
.grid_imagen2{
    transition:heighr 4s;
    grid-area:grid_imagen2;
}
.grid_imagen3{
    grid-area:grid_imagen3;
}
.grid_descripcion1{
    grid-area:grid_descripcion1;
    text-align: left;
    width: 80%;
}
.grid_descripcion2{
    grid-area: grid_descripcion2;
    text-align:left;
    width: 80%;
}
.grid_descripcion3{
    grid-area: grid_descripcion3;
    text-align:left;
    width: 80%;
}
.footerProductos{
    grid-area: footer;
}